body{
    margin-top: 40px;
    margin-left: 170px;
    margin-right: 100px;
    }

    table{
        width: 100%;
      }
      
      table, td {
        border: 2px solid black;
        border-collapse: collapse;
        width: 700px;
      }
      
      th, td {
        padding: 5px;
      }
      
      th{
        text-align: left;
      }
 
 